footer {
    width:100%;
    height:50px;
    display:flex;
    justify-content: flex-end;
}

.contenedorfooter {
    width:100%;
    height:50px;
    color:lightgrey;
    background:#777;
    display:flex;
    justify-content:center;
    align-items:center;


}