
 body {
    width:100%;
    height:100vh;
} 
.contenedor-navegador-responsive{display:none;}
.contenedor-principal-navegador {
    width:100%;
    
    display:flex;
    justify-content:center;
}
.contenedorNavegador{
    width:100%;
    height:120px;
    border-bottom:1px solid black;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin-top:10px;
    position:fixed;
    background-color:white;
    padding:10px;
    z-index:145;
}
.logo {
   
    width: 350px;
    font-size:45px;
    position: relative;
    color:var(--color-narmaster);
    transition:1s linear;
    top:32px;
   }

.logo .circle1 {
    position: absolute;

    width: 50px;
    height: 50px;
    top: -30px;
    left: 165px;
    border-top: 6px solid var(--color-grismaster);
    border-left: 5px solid var(--color-grismaster);
    border-right: 5px solid var(--color-grismaster);
    border-bottom: 5px solid white;
    border-radius: 50px;
    animation: wifi 1.5s infinite;



}

.logo .circle2 {
    position: absolute;

    width: 35px;
    height: 35px;
    top: -20px;
    left: 173px;
    border-top: 6px solid var(--color-grismaster);
    border-left: 5px solid var(--color-grismaster);
    border-right: 5px solid var(--color-grismaster);
    border-bottom: 5px solid white;
    border-radius: 50px;
    animation: wifi1 1s infinite;



}

.logo .circle3 {
    position: absolute;

    width: 20px;
    height: 20px;
    top: -5px;
    left: 180px;
    border-top: 6px solid var(--color-grismaster);
     border-left:5px solid var(--color-grismaster);
    border-right:5px solid var(--color-grismaster);
    border-bottom:5px solid #f0f8ff;
    border-radius: 50px;
    animation: wifi2 1s infinite;



}

@keyframes wifi {
    from {
        opacity: 0;

    }

    to {
        opacity: 1
    }
}

@keyframes wifi1 {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes wifi2 {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

.navegador {
    margin-left:50px;
    display: flex;
    margin-top:50px;
        
}
.navegador li {
    margin:10px;
}
.bar {
    display:none;
}

.contenedor-navegador-bar{
    display:none;
}



.navegador a {
    flex:15;
    display:flex;
    align-items:center;
    justify-content: center;
    padding:15px 50px;
    margin:2px;
    font-weight:600;
    width:50px;
    height:40px;
    text-align:center;
   
   }

.navegador li {
    list-style: none;
}

 .navegador li a:hover
{
     background-color:#ddd;
      color:black;
      border-radius:10px 1px 10px 1px;
} 
 .navegador li.active {
    background:#ddd;
    border-radius:10px 1px 10px 1px;
    color:white;
  
   
    
}
.logo a {
    text-decoration:none;
    margin-left:5px;
    color:var(--color-narmaster)
    
}
.navegador .itemNavegador a {
    text-decoration:none;
    color:black;
    
}


/* HOVER RRSS BAR-RESPONSIVE*/

.RRSS .fa-twitter-square:hover{
    text-decoration: none;
    color:#ddd;    
}
.RRSS .fa-facebook-square:hover{
    color:#ddd;    

}
.RRSS   .fa-linkedin-square:hover{
    color:#ddd;    

   
}
.RRSS a {
    text-decoration: none;
}
.RRSS .fa-instagram:hover {
    width:auto;
    height:auto;
    border-radius: 10px;
    color:white;
    vertical-align: middle;
    background: radial-gradient(circle at 30% 107%, #ddd 0%, #ddd 5%, #ddd 45%,#ddd 60%,#ddd 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
