@media  (max-width:1400px){
  .contenedorSlide button{
    display:none;
  }
.contenedorSlide {
    display:flex;
    align-items:center;
    flex-direction:column;
}
.itemslide1 {
  z-index:-1;
 }
 .itemslidefondo1.vista
{
   z-index:1;
  
} 

.itemslide2 {
z-index:-1;
}
.itemslidefondo2.vista
{
z-index:1;

} 

.itemslide3 {
z-index:-1;
}
.itemslidefondo3.vista
{
z-index:1;

} 
.contacto-comercial
{
  padding:2em;
}

}

@media  (max-width:850px){
.contenedorSlide button{
  display:none;
}
  .contenedor-paragraph {
        margin-top:125px;
        width:100%;
        height:300px;
        /* background-color:darkgoldenrod; */
        display:flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items:center;
        position:relative;
      }
      
      .contenedor-paragraph div:nth-child(1)
      {   
         margin-top:40px;

          padding:40px;
          text-align: center;
         
      }
      .contenedor-paragraph div:nth-child(2)
      {
        position:absolute;
        top:170px;
      }


      .contenedor-paragraph div:nth-child(3)
      {
         position:relative;
         top:20px;
         margin:30px;
      }
      .contenedor-paragraph div {
        margin-left:0px;
    }


    }