@media  (max-width:1400px){

.contenedorSlide {
    display:flex;
    align-items:center;
    flex-direction:column;
}

}

@media  (max-width:850px){
    .contenedor-paragraph {
        margin-top:32px;
        width:100%;
        height:300px;
        background-color:darkgoldenrod;
        display:flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items:center;
        position:relative;
      }
      .contenedor-paragraph div:nth-child(1)
      {   
         margin-top:40px;

          padding:40px;
          text-align: center;
         
      }
      .contenedor-paragraph div:nth-child(2)
      {
        position:absolute;
        top:170px;
      }


      .contenedor-paragraph div:nth-child(3)
      {  color:red;
         position:relative;
         top:20px;
         margin:30px;
      }
      .contenedor-paragraph div {
        margin-left:0px;
    }
 
    }