.seccionservicios {
    margin-top:50px;
    width:100%;
    height:100vh;
    background-image: url(serviciosFoto.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: left;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}


.seccionservicios h1 {
    font-size: 40px;
    text-transform:uppercase;
    width:1050px;
    border-top:3px solid var(--color-darkblue);
    text-align:center;
}

.cabezera {
   width:100%;
   height: auto;
   color:var(--color-white);
   background-color:black;
   text-align:center;
   text-transform: uppercase;
   border:3px solid var(--color-darkblue);
}

.contenedorservicios {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    background:var(--color-white);
    
   
}

.seviciosremotos {
     width:350px;
    height:350px;
    
     display:flex;
    justify-content:flex-start;
    flex-direction:column;
    background:var(--color-darkwhite);
    
    
    
}

.remotos {
    text-transform: uppercase;
    width:100%;
      
    background-color:var(--color-farmanager);
    text-align:center;
 margin-bottom: 100px;


}

.remotostexto {
   height:250px;
   border-bottom:3px solid var(--color-farmanager);
}
.serviciosservicios {
     width:350px;
    height:350px;
    
     display:flex;
    justify-content:flex-start;
    flex-direction:column;
    background:var(--color-darkwhite);
}
.serviciosplan {
      text-transform: uppercase;
    width:100%;
      
    background-color:var(--color-white);
    text-align:center;
 margin-bottom: 100px;
}
.serviciostexto {
   height:250px;
   border-bottom:3px solid var(--color-white);
}

.serviciosintegrales {
       width:350px;
    height:350px;
    
     display:flex;
    justify-content:flex-start;
    flex-direction:column;
    background:var(--color-darkwhite);
}

.integrales {
       text-transform: uppercase;
    width:100%;
      
    background-color:var(--color-red);
    text-align:center;
 margin-bottom: 100px;
}
.integralestexto {
   height:250px;
   border-bottom:3px solid var(--color-red); 
}